<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hate to see you leave, <%= @user.name %></h1>
    <p>
      Your account has been removed from RottenMangoes.com.
      Please contact the administrators at RottenMangoes.com for further details.<br>
    </p>
  </body>
</html>